* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base typography */
body {
    font-family: 'Montserrat',
        sans-serif,
        Arial;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
}


header {
    width: auto;
    height: 100dvh;
    position: sticky;
    left: 0;
    top: 0;
    background-color: #333;
    display: flex;
}

nav {
    display: flex;
    flex-direction: column;
    width: 116px;
    height: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

nav>ul>li:first-child {
    height: 100px;
    width: 100%;

    background: rgb(5, 152, 175);
}

nav>ul>li:nth-child(2) {
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}

nav>ul li {
    height: 100px;
    width: 100%;
    color: rgba(255, 255, 255, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.hidden-navbar {
    width: 300px;
    height: 100%;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    transition: width 0.7s ease-in-out;

}

.hidden-navbar h2 {
    color: white;
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
}

.hidden-navbarb p {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.hidden-navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.hidden-navbar ul li {
    height: 100px;
    width: 100%;
    color: rgba(255, 255, 255, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.hide {
    width: 0 !important;

}

.hide * {
    display: none;
}





main {
    display: flex;
}

main>div:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    /* background: pink; */
}

main>div+div {
    width: 50%;

}

main>div+div img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    position: sticky;
    top: 0;
    right: 0;
}