* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --obsidian: RGB(26, 26, 26);
}

/* Base typography */
body {
    font-family: 'Montserrat',
        sans-serif,
        Arial;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: var(--obsidian);
    margin: 0;
    padding: 0;
    display: flex;
}


header {
    width: auto;
    min-height: 100dvh;
    left: 0;
    top: 0;
    background: #333;
    display: flex;
    transition: transform 600ms ease;
    position: fixed;
    z-index: 100;
}




nav {
    display: flex;
    flex-direction: column;
    width: 116px;
    height: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

nav>ul>li:first-child {
    height: 100px;
    width: 100%;

    background: rgb(5, 152, 175);
}

nav>ul>li:nth-child(2) {
    height: 100px;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
}

nav>ul li {
    height: 100px;
    width: 100%;
    color: rgba(255, 255, 255, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
}

.hidden-navbar {
    width: 300px;
    color: white;
    background: rgba(255, 255, 255, 0.05);
    transition: width 0.7s ease-in-out;

}

.hidden-navbar h2 {
    color: white;
    font-size: 32px;
    text-align: center;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 100px;
    height: 100px;
}

.hidden-navbar p {
    color: white;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    padding-inline: 1rem;

}

.hidden-navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3rem;

}

.hidden-navbar ul li {
    height: 50px;
    width: 100%;
    color: rgba(255, 255, 255, 0.57);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}



.hide {
    transform: translateX(-300px);
}






main {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 116px;
}

main>div:first-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-block: 8rem;
    padding-inline: 7rem;
}

main>div+div {
    width: 40%;

}

main>div+div img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
    position: sticky;
    top: 0;
    right: 0;
    object-position: bottom;
}

.main-heading {
    font-size: 56px;
    font-weight: 700;
    margin-top: 20px;
    transition: color 200ms ease-in-out;
    color: #242424;
    line-height: 1.3;
}

.main-heading:hover {
    color: rgb(5, 152, 175);
    ;
}

.main-heading+p {
    font-size: 18px;
    margin-top: 20px;
    color: #242424;
    margin-block-end: 7rem;
}

.main-author p {
    color: #D8588C;
}

.main-author span {

    font-weight: bold;
    color: rgb(192, 184, 184);
}

.main-author span::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    background: rgb(192, 184, 184);
    border-radius: 999px;
    margin-bottom: 1px;
    margin-inline: 4px;
}


li h2 {

    transition: color 200ms ease-in-out;
}

li h2:hover {
    color: rgb(5, 152, 175);
}



.posting {
    padding-left: 116px;
    width: 100%;

}

.posting .wrapper {
    max-width: 70%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}