<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>BlogMaster</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/new_css.css') }}" />
		<link
			href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
			rel="stylesheet" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
	</head>
	<body>
		<header>
			<div id="hidden-nav" class="hidden-navbar hide">
				<h2>Bloggin Platform</h2>
				<p>
					Suppablog is simple and yet cool wordpress theme to lorem ipsum dolor
					sit.
				</p>
				<ul>
					<li>
						<a href=""> Home </a>
					</li>
					<li>
						<a href=""> About </a>
					</li>
					<li>
						<a href=""> Scroll </a>
					</li>
					<li>
						<a href=""> Contact </a>
					</li>
				</ul>
			</div>


			<nav>
				<ul>
					<li>
						<a href="">
							<img
								src=""
								alt="" />
						</a>
					</li>
					<li id="navbutton">
						<i class="bi bi-list"></i>
					</li>
					<li>
						<i class="bi bi-linkedin"></i>
					</li>
					<li>
						<i class="bi bi-twitter-x"></i>
					</li>
					<li>
						<i class="bi bi-github"></i>
					</li>
				</ul>
			</nav>
		</header>
<script>

	const navbutton = document.getElementById('navbutton');

navbutton.addEventListener('click', () => {
	const hiddenNav = document.getElementById('hidden-nav');
	console.log('hit the button!!')
	hiddenNav.classList.toggle('hide');
});




</script>
		<main>
			<div>
				<h1>Blogging Platform</h1>

				<p>
					Now when I had mastered the language of this water and had come to
					know every trifling feature that bordered the great river as
					familiarly as I knew the letters of the alphabet, I had made a
					valuable acquisition. I still keep in mind a certain wonderful sunset
					which I witnessed when and steamboating
				</p>

				<ul id="box">
					{% for post in posts %}
					<li>
						<a href="{{ url_for('post_detail', post_id=post.id) }}">
							<h2>{{ post.title }}</h2>
						</a>
						<div class="post">
							<p>{{ post.author_name }}</p>
							<span>date</span>
						</div>
					</li>
					{% endfor %}
				</ul>
			</div>

			<div>
				<img
					src="{{ url_for('static', filename='images/banner.jpg') }}"
					alt="" />
			</div>
		</main>
	</body>
</html>
