<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>BlogMaster</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/new_css.css') }}" />
	</head>
	<body>
		<header>
			<h1><span class="styled-title">Blogging Platform</span></h1>
		</header>
		<div id="box">
			{% for post in posts %}
			<a href="{{ url_for('post_detail', post_id=post.id) }}">
			<div class="post">
					<h2>{{ post.title }}</h2>
					<p>{{ post.author_name }}</p>
				</div>
			</a>
			{% endfor %}
		</div>
	</body>
</html>
